/* color scheme:  de1a1a-e8ebf7-acbed8-f2d398-d78521 */

.password{
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

.progress{
    padding-top: 5px;
    height: 20px;
}

.bar{
    width: 0px;
    height: 5px;
    border-top-right-radius: 2.5px;
    border-top-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    transition: width 1s, background-color 1.5s;
    transition-timing-function: linear;
}



.input-label{
    font-size: 0.5em;
}

input{
    border: transparent;
    border-bottom: 1px solid lightsteelblue;
    padding: 10px;
}

input:focus {
    outline: none;
}



