/* color scheme:  de1a1a-e8ebf7-acbed8-f2d398-d78521 */

.password{
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.progress{
    padding-top: 5px;
    height: 20px;
}

.bar{
    width: 0px;
    height: 5px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    background-color: green;
    transition: width 1s;
    transition-timing-function: linear;
}

input{
    width: 300px;
    border: transparent;
    border-bottom: 1px solid lightgreen
}

input:focus {
    outline: none;
}



