.password{
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.progress{
    padding-top: 5px;
    width: 80vw;
    height: 20px;
}

.bar{
    width: 0px;
    height: 5px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    background-color: green;
    transition: width 1s;
    transition-timing-function: linear;
}




